mixin header(name, x)
  .item.section(id=x)
    h2= name
    .row
       ul&attributes(attributes)
         block
mixin img_post(p)
 li(style="background: url(#{locals.url}#{p.url}#{p.metadata.header})")
  a.center(href=p.url)
   = p.url
   span= p.title
mixin video_post(p)
 li video #{p.metadata.video}
mixin plain_post(p)
 li plain post #{p}
mixin post(p)
  if p.metadata.header
   +img_post(p)
  else if p.metadata.video
   +video_post(p)
  else
   +plain_post(p)
doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      link(rel="stylesheet" href="#{locals.url}css/font.css")
      link(rel="stylesheet" href="#{locals.url}css/main.css")
  body
    #container
       .item.header
         a(href="#")
           h1 Russell Hay
       +header("Code Slinger", "code-slinger")
         li
          a.refer(href="http://github.com/RussTheAerialist")
           | Github
         li
          a.refer(href="http://bitbucket.org/russellhay")
           | BitBucket
         if env.helpers.getTagHome("code")
          li.more
           a(href=env.helpers.getTagHome("code").url) Blog &rarr;
       +header("Visual Artist", "visual-artist")(class="multimedia")
        - var posts = env.helpers.getArticlesByTag(contents, "visual")
        each post in posts
         +post(post)
       +header("Maker", "maker")(class="multimedia")
       +header("Mover", "mover")(class="multimedia")
       .item.footer &nbsp;
  | <script src="#{locals.url}js/app.js"></script>
